@import '../../styles/variables.scss';

.section__container {
  background-image: url('../../../public/images/space_background-contact.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  //query for very small devices in landscape mode (fixes section height too small)
  @media screen and (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-height: $mobile-height) {
    min-height: 165vh;
  }

  .section__divider-top {
    position: absolute;
    top: 0;
    height: 175px;
    width: 100%;
    margin-top: -1px; //fix shape-section line
  }

  .projects-container {
    padding: 1rem;
    border-radius: 8px;
    background: $glass-background-color;
    backdrop-filter: $glass-backdrop-filter;

    .projects__heading-wrapper {
      text-align: center;
      border-bottom: $skills-header-border;
      padding-bottom: 1rem;
    }

    .projects__socials-wrapper {
      padding: 3rem 0;
      display: flex;
      align-items: center;
      justify-content: center;   
      flex-wrap: wrap;
      gap: 20px;
      
      @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column;
        align-items: flex-start;
      }

      .projects__socials-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: $medium-breakpoint) {
          flex: 0 0 40%;
        }

        @media screen and (max-width: $mobile-breakpoint) {
          flex: 0 0 50%;
          flex-direction: row;
        }

        & > a {
          display: flex;
          align-items: center;
          justify-content: center;
          background: $section-background-color;
          border-radius: 50%;
          padding: 0.75rem;
          transition: $hover-transition;

          &:hover {
            background: $hover-color;
          }
        }

        .projects__socials-heading {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 0.5rem;

          @media screen and (max-width: $mobile-breakpoint) {
            align-items: flex-start;
            margin-left: 16px;
            margin-top: 0;
          }
          
          h3 {
            color: $primary-color;
            text-transform: uppercase;
            font-weight: bold;
          }

          a:hover {
            color: $primary-text-hover-color;
            transition: $hover-transition;
          }
        }
      }
    }
  }
}
