/* Theme variables */
$primary-color: rgba(140, 80, 255, 1); //#8c50ff #a678ff
$hover-color: rgba(126, 72, 226, 1);
$background-color: rgba(0, 0, 0, 0.2);
$drawer-color: rgb(90, 90, 90);
$hover-transition: all 0.3s ease;
$primary-text-color: rgba(235, 235, 235, 1);
$primary-text-hover-color: rgba(235, 235, 235, 0.85);

//Responsive font size with clamp func (test)
$h1-min-size: 2rem;
$h1-max-size: 2.5rem;
$h1-val-size: 5vw;

$h2-min-size: 1.5rem;
$h2-max-size: 2rem;
$h2-val-size: 4vw;

$p-min-size: 1rem;
$p-max-size: 1.25rem;
$p-val-size: 2.5vw;

//Section background color
$section-background-color: rgb(59, 59, 59);

//Breakpoints
$xl-desktop-breakpoint: 1200px;
$desktop-breakpoint: 992px;
$medium-breakpoint: 768px;
$mobile-breakpoint: 576px;
$xs-mobile-breakpoint: 320px;


//Sections widths
$desktop-section-width: 70%;
$medium-section-width: 80%;
$mobile-section-width: 85%;
