@import '../../styles/variables.scss';

.section__container {
  background: $section-background-color;
  
  .about__container {
    display: flex;
    flex-direction: column;

    .about__heading-wrapper {
      margin: 2rem 0;
      padding: 0.5rem;
      text-align: center;
      border-top: $skills-header-border;
      border-bottom: $skills-header-border;
    }

    .about__content-wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      p {
        padding-right: 1rem;
      }

      .about__content-image-wrapper {
        display: flex;
        flex: 0 0 50%;

        img {
          width: 65%;
          height: 65%;
          margin: 0 auto;

          @media screen and (max-width: $medium-breakpoint) {
            max-width: 100%;
            max-height: 100%;
          }
        }

        @media screen and (max-width: $medium-breakpoint) {
          display: none;
        }
      }

      .about__content-text-wrapper {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
      }

      @media screen and (max-width: $medium-breakpoint) {
        display: block;
      }
    }
  }
}